.fruit-cards-section{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 32px;
  padding-left: 19%;

  @media screen and (min-width: 320px) and (max-width: 800px) {
    justify-content: center;
    padding: 0;
  }
}

.fruit-cards-btn-more{
  background-color: $secondary-color;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  height: 4.7rem;
  margin: 2.4rem 0 2.4rem 20%;
  padding: 1.3rem 3.2rem;
  width: 15rem;

  &:hover{
    background-color: $secondary-color-light;
  }

  @media screen and (min-width: 320px) and (max-width: 800px) {
    margin: 2.4rem;
  }
}