@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: "Lato", sans-serif;
}


// var colors
$primary-color: #d4af37;
$secondary-color: #000000;
$secondary-color-light: #3a3a3a;
$background-color: #f9f9f9;
$background-color-gray: #dfdfdf;
$card-background: #ffffff;
$text-secondary: #b3b3b3;

// pages
@import '../../pages/fruits/fruitPage';
@import '../../pages/detailsFruit/detailsFruit';

// components
@import '../../components/filters/filtersSection';
@import '../../components/fruitCards/fruitCards';
@import '../../components/fruitCards/cards/cards';
@import '../../components/generalInformation/generalInformation';